In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os as os
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
import scipy as sp
from sklearn.preprocessing import MinMaxScaler
from scipy.special import boxcox1p
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve
from imblearn.under_sampling import *
from imblearn.over_sampling import *
from imblearn.combine import *
from sklearn.metrics import log_loss

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [0]:
train = pd.read_csv('/content/drive/My Drive/datrain.csv')
test = pd.read_csv('/content/drive/My Drive/datest.csv')
sample_submission = pd.read_csv('/content/drive/My Drive/sample_submission.csv')

sample_submission.describe()

                  id  STAR_WHITE_DWARF  ...  SERENDIPITY_MANUAL  SERENDIPITY_BLUE
count   10009.000000           10009.0  ...             10009.0           10009.0
mean   204995.000000               0.0  ...                 0.0               0.0
std      2889.493756               0.0  ...                 0.0               0.0
min    199991.000000               0.0  ...                 0.0               0.0
25%    202493.000000               0.0  ...                 0.0               0.0
50%    204995.000000               0.0  ...                 0.0               0.0
75%    207497.000000               0.0  ...                 0.0               0.0
max    209999.000000               0.0  ...                 0.0               0.0

[8 rows x 20 columns]

In [0]:
column_number = {}
for i, column in enumerate(sample_submission.columns):
    column_number[column] = i
    
def to_number(x, dic):
    return dic[x]

train['type_num'] = train['type'].apply(lambda x: to_number(x, column_number))

In [0]:
test_id=test['id']

In [0]:
test = test.drop(columns=['fiberID', 'id'])

In [0]:
train_x = train.drop(columns=['id','type_num', 'fiberID','type'], axis=1)
train_y = train['type_num']
test_x = test
train_x

         psfMag_u   psfMag_g   psfMag_r  ...  modelMag_r  modelMag_i  modelMag_z
0       23.198224  21.431953  21.314148  ...   21.364187   21.020605   21.147340
1       21.431355  20.708104  20.678850  ...   20.753925   20.693389   20.512314
2       17.851451  16.727898  16.679677  ...   16.641249   16.660177   16.688928
3       20.789900  20.040371  19.926909  ...   19.889798   19.758113   19.552855
4       26.454969  23.058767  21.471406  ...   21.475342   19.487330   18.375655
...           ...        ...        ...  ...         ...         ...         ...
199986  20.630780  20.437920  20.050756  ...   20.014046   20.061940   19.862513
199987  25.283695  22.807243  21.069792  ...   19.776321   18.990039   18.528306
199988  23.609826  21.902709  20.330747  ...   20.420524   18.443126   17.331724
199989  21.172003  20.561208  20.031754  ...   17.440331   17.193743   16.969854
199990  20.624498  20.122276  20.332241  ...   20.327396   20.217198   19.995023

[199991 rows x 20 columns]

In [0]:
train

            id            type  fiberID  ...  modelMag_i  modelMag_z  type_num
0            0             QSO      601  ...   21.020605   21.147340         9
1            1             QSO      788  ...   20.693389   20.512314         9
2            2             QSO      427  ...   16.660177   16.688928         9
3            3             QSO      864  ...   19.758113   19.552855         9
4            4  STAR_RED_DWARF      612  ...   19.487330   18.375655        11
...        ...             ...      ...  ...         ...         ...       ...
199986  199986             QSO      568  ...   20.061940   19.862513         9
199987  199987          GALAXY      362  ...   18.990039   18.528306         7
199988  199988  STAR_RED_DWARF      146  ...   18.443126   17.331724        11
199989  199989          GALAXY       85  ...   17.193743   16.969854         7
199990  199990             QSO      964  ...   20.217198   19.995023         9

[199991 rows x 24 columns]

In [0]:
# oversample = RandomOverSampler(sampling_strategy='minority')
# ST_train_x, ST_train_y = oversample.fit_resample(train_x, train_y)

In [0]:
# ST=SMOTETomek()

# ST_train_x,ST_train_y = ST.fit_sample(train_x,train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
from sklearn.model_selection import train_test_split
ST_X_train, ST_X_valid, ST_y_train, ST_y_valid = train_test_split(train_x, train_y, \
                                                  test_size=0.2, random_state=42, stratify = train_y)

In [0]:
ST_y_train=pd.DataFrame(ST_y_train)
ST_y_train.apply(pd.value_counts)

    type_num
9      39744
7      29877
19     17408
16     11704
5      11694
11     11000
6      10800
14      5705
12      5264
2       5205
8       3723
15      2606
4       2050
1       1728
17       923
3        400
10       102
18        49
13        10

In [0]:
ST_X_train=pd.DataFrame(ST_X_train)
ST_X_train.columns=['psfMag_u', 'psfMag_g', 'psfMag_r', 'psfMag_i', 'psfMag_z', 'fiberMag_u', 'fiberMag_g', 'fiberMag_r', 'fiberMag_i', 'fiberMag_z', 'petroMag_u', 'petroMag_g', 'petroMag_r', 'petroMag_i', 'petroMag_z', 'modelMag_u', 'modelMag_g', 'modelMag_r', 'modelMag_i', 'modelMag_z']
ST_X_train

         psfMag_u   psfMag_g   psfMag_r  ...  modelMag_r  modelMag_i  modelMag_z
73778   20.573677  20.429219  20.424495  ...   20.406305   20.261626   20.094012
161655  21.081430  19.557006  18.716852  ...   16.914264   16.487286   16.153001
33116   23.483453  22.047574  20.244258  ...   19.179367   18.580823   18.251391
194910  20.795337  20.624164  20.565313  ...   20.540206   20.552589   20.272082
151940  23.519520  21.659171  21.515702  ...   21.458185   21.151328   20.889414
...           ...        ...        ...  ...         ...         ...         ...
183509  20.176076  20.027881  20.027611  ...   20.065114   19.799448   19.916447
104904  21.140322  20.807808  20.752861  ...   20.697512   20.174482   20.151148
136996  19.916782  19.920386  20.105963  ...   20.115187   20.332078   20.844596
18362   18.131935  17.141955  16.793860  ...   16.794521   16.711789   16.666436
105662  23.825992  21.266982  20.884247  ...   20.826853   20.644416   20.358023

[159992 rows x 20 columns]

In [0]:

ST_X_valid=pd.DataFrame(ST_X_valid)
ST_X_valid.columns=[ 'psfMag_u', 'psfMag_g', 'psfMag_r', 'psfMag_i', 'psfMag_z', 'fiberMag_u', 'fiberMag_g', 'fiberMag_r', 'fiberMag_i', 'fiberMag_z', 'petroMag_u', 'petroMag_g', 'petroMag_r', 'petroMag_i', 'petroMag_z', 'modelMag_u', 'modelMag_g', 'modelMag_r', 'modelMag_i', 'modelMag_z']
ST_X_valid

         psfMag_u   psfMag_g   psfMag_r  ...  modelMag_r  modelMag_i  modelMag_z
75310   18.920283  18.087491  17.702514  ...   17.711605   17.560032   17.553816
143821  20.375570  19.520414  19.049371  ...   17.343365   16.960823   16.893067
36901   20.366065  18.780415  17.774750  ...   15.859394   15.418144   15.086678
21113   22.605059  20.461496  19.463100  ...   19.451416   19.102410   18.907260
46722   19.158927  18.501618  18.157614  ...   18.185179   18.130410   18.186079
...           ...        ...        ...  ...         ...         ...         ...
72785   20.760288  19.783735  19.673776  ...   19.699139   19.764565   19.797933
156636  21.303572  19.857506  18.885045  ...   17.006889   16.578884   16.291540
125469  19.665636  19.315090  19.031063  ...   19.013778   18.052920   17.399141
56452   20.344574  20.319208  20.435924  ...   20.451135   20.547724   20.552636
150703  20.206257  20.034664  19.845487  ...   19.893578   19.560812   19.726538

[39999 rows x 20 columns]

In [0]:
ST_y_train=pd.DataFrame(ST_y_train)
ST_y_valid=pd.DataFrame(ST_y_valid)

In [0]:
ST_y_valid.apply(pd.value_counts)

    type_num
9       9936
7       7470
19      4352
16      2926
5       2924
11      2750
6       2700
14      1427
12      1316
2       1301
8        931
15       651
4        512
1        432
17       231
3        100
10        25
18        12
13         3

In [0]:
%%time

rnd_clf = RandomForestClassifier(max_depth=20, n_estimators=1000,max_features=10, oob_score=False, n_jobs=-1)
rnd_clf.fit(ST_X_train,ST_y_train)
rnd_clf_probs = rnd_clf.predict_proba(ST_X_valid)
score = log_loss(ST_y_valid, rnd_clf_probs)
print(score)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [0]:
rnd_pred = rnd_clf.predict_proba(test)
submission = pd.DataFrame(data=rnd_pred)
submission= pd.concat([test_id,submission],axis=1)
submission.columns=sample_submission.columns
submission.to_csv('/content/drive/My Drive/rnd_clf.csv', index=False)
submission.describe()

                  id  STAR_WHITE_DWARF  ...  SERENDIPITY_MANUAL  SERENDIPITY_BLUE
count   10009.000000      10009.000000  ...        10009.000000      10009.000000
mean   204995.000000          0.011037  ...            0.000307          0.108072
std      2889.493756          0.059484  ...            0.003288          0.243305
min    199991.000000          0.000000  ...            0.000000          0.000000
25%    202493.000000          0.000000  ...            0.000000          0.000000
50%    204995.000000          0.000003  ...            0.000000          0.000030
75%    207497.000000          0.000818  ...            0.000000          0.015047
max    209999.000000          0.870474  ...            0.146969          0.999802

[8 rows x 20 columns]